[project]
	description = review sample
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/phchiangoutlook
[access "refs/for/refs/*"]
	read = group user/phchiangoutlook
	push = group user/phchiangoutlook
	label-Code-Review = -2..+2 group user/phchiangoutlook
	label-Verified = -1..+1 group user/phchiangoutlook
	rebase = group user/phchiangoutlook
	removeReviewer = group user/phchiangoutlook
	submit = group user/phchiangoutlook
[access "refs/heads/*"]
	read = group user/phchiangoutlook
	create = group user/phchiangoutlook
	push = +force group user/phchiangoutlook
	pushMerge = group user/phchiangoutlook
[access "refs/tags/*"]
	push = +force group user/phchiangoutlook
	pushTag = group user/phchiangoutlook
	pushSignedTag = group user/phchiangoutlook
